<a href="https://colab.research.google.com/github/GangCheng1972/Colab/blob/master/Python/LearningPythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello " + name + " ! You are " + age)

Enter your name: John
Enter your age: 35
Hello John ! You are 35

In [0]:
# Build a simple calculator
num_1 = input("Enter a number: ")
num_2 = input("Enter another number: ")

result = float(num_1) + float(num_2)
print(result)

Enter a number: 4.5
Enter another number: 3.67
8.17

In [0]:
color = input("Enter a color: ")
plural_noun = input("Enter a Plural Noun: ")
celebrity = input("Enter a celebrity: ")

print("Rose are " + color)
print(plural_noun + " are blue")
print("I love " + celebrity)

Enter a color: blue
Enter a Plural Noun: John
Enter a celebrity: Chris
Rose are blue
John are blue
I love Chris

In [0]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Jim", "Toby"]
lucky_numbers = [4, 8, 15, 16, 23, 11]

friends.append("Creed")
friends.insert(1, "Kelly")

friends.sort()
lucky_numbers.reverse()

friends2 = friends.copy()

print(friends2)

['Creed', 'Jim', 'Jim', 'Karen', 'Kelly', 'Kevin', 'Oscar', 'Toby']

In [0]:
coordinates  = [(4, 5) , (6, 7), (8, 9)]
print(coordinates[1])

(6, 7)

In [0]:
def say_hi(name):
  print("Hello " + name)

say_hi("John")
say_hi("Steve")

Hello John
Hello Steve

In [0]:
def cube(num):
  result = num*num*num
  return result

result = cube(123)
print(result)

1860867

In [0]:
is_male = True
is_tall = False

if is_male and is_tall:
  print("You are a tall male")
elif is_male and not(is_tall):
  print("YOu are a short male")
elif not(is_male) and is_tall:
  print("You are a tall female")
else:
  print("You are a female")

YOu are a short male

In [0]:
def max_num(num1, num2, num3):
  if num1>=num2 and num1>=num3:
    return num1
  elif num2>=num1 and num2>=num3:
    return num2
  else:
    return num3

print(max_num(3,24,15))

24

In [0]:
num1 = float(input("Enter the first number: "))
op = input("Enter the operator: ")
num2 = float(input("Enter the second number: "))

if op == "+":
  print(num1 + num2)
elif op == "-":
  print(num1 - num2)
elif op == "/":
  print(num1 / num2)
elif op == "*":
  print(num1 * num2)
else:
  print("Invalid operator")

Enter the first number: 10
Enter the operator: /
Enter the second number: 3
3.3333333333333335

In [0]:
monthConversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December",
}

print(monthConversions.get("lov", "Not a valid key"))

Not a valid key

In [0]:
i = 1

while i <= 10:
  print(i)
  i += 1

print("Finish the looping")

1
2
3
4
5
6
7
8
9
10
Finish the looping

In [0]:
secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
  if guess_count < guess_limit:
    guess = input("Enter the guess: ")
    guess_count += 1
  else:
    out_of_guesses = True

if out_of_guesses:
  print("Out of guesses, YOU LOSE!")
else:
  print("You win!")

Enter the guess: sdf
Enter the guess: sdf
Enter the guess: giraffe
You win!

In [0]:
friends = ["Jim", "Kevin", "Karen"]
for friend in friends:
  print(friend)

for index in range(len(friends)):
  print(friends[index])

Jim
Kevin
Karen
Jim
Kevin
Karen

In [0]:
def raise_to_power(base_num, power_num):
  result = 1
  for index in range(power_num):
    result *= base_num
  return result

print(raise_to_power(4,3))

64

In [0]:
number_grid = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]

for row in number_grid:
  for col in row:
    print(col)

1
2
3
4
5
6
7
8
9
0

In [0]:
def translate(phrase):
  translation = ""
  for letter in phrase:
    if letter.lower() in "aeiou":
      if letter.isupper():
        translation += "G"
      else:
        translation += "g"
    else:
      translation += letter
  return translation

print(translate(input("Enter a phrase: ")))

Enter a phrase: Test
Tgst

In [0]:
class Student:

  def __init__(self, name, major, gpa, is_on_probation):
    self.name = name
    self.major = major
    self.gpa = gpa
    self.is_on_probation = is_on_probation

  def on_honor_roll(self):
    if self.gpa >= 3.5:
      return True
    else:
      return False

student1 = Student("Jim", "Business", 3.1, False)
student2 = Student("Kim", "Art", 3.5, True)
print(student2.on_honor_roll())

True

In [2]:
!python - version

Python 3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>>

KeyboardInterrupt
>>> exit()